<main class="page second-background container">
    <h3>
        Informe os dados sobre o alimento para cadastra-lo no sistema
        <br />
        <span>(como: rótulo e as porções da tabela nutricional)</span>
    </h3>

    <form class="row">
        <div class="col-12">
            <label for="alimento-rotulo" class="form-label">Rótulo</label>
            <input type="text" class="form-control" id="alimento-rotulo">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">KCal</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Carboidratos</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Proteinas</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Gorduras Totais</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Fibra</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>
        <div class="col-12">
            <label for="inputPassword4" class="form-label">Sódio</label>
            <input type="text" class="form-control" id="inputPassword4">
        </div>

        <div class="col-12 acoes">
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
</main>
