<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicativo Dieta</title>
  </head>
  <body>
    <nav class="primary-background">
      <span routerLink="/alimentos" routerLinkActive="active" ariaCurrentWhenActive="page">Alimentos</span>
      <span routerLink="/diarios" routerLinkActive="active" ariaCurrentWhenActive="page">Diarios</span>
      <span routerLink="/medidas" routerLinkActive="active" ariaCurrentWhenActive="page">Medidas</span>
    </nav>
    <router-outlet></router-outlet>
  </body>
</html>