<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplicativo Dieta</title>
  </head>
  <body>
  <nav class="three-background">
    <span ariaCurrentWhenActive="page" routerLink="/food" routerLinkActive="active">Alimentos</span>
    <span ariaCurrentWhenActive="page" routerLink="/diary" routerLinkActive="active">Diarios</span>
    <span ariaCurrentWhenActive="page" routerLink="/mesures" routerLinkActive="active">Medidas</span>
  </nav>
  <router-outlet></router-outlet>
  </body>
</html>
