/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #210F04;
}

.second-color {
    color: #452103;
}

.three-color {
    color: #690500;
}

.four-color {
    color: #934B00;
}

.five-color {
    color: #BB6B00;
}


.primary-background {
    background-color: #210F04;
}

.second-background {
    background-color: #452103;
}

.three-background {
    background-color: #690500;
}

.four-background {
    background-color: #934B00;
}

.five-background {
    background-color: #BB6B00;
}